section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}


.form-container.login {
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 4px 18px;
  border-radius: 18px;
  width: 400px;
  height: 320px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255,255,255,0.25);
  text-align: center;
}


.form-container.login h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
  font-size: 2rem;
}


.form-container.login p {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 18px;
}


.form-container.login label {
  font-size: 14px;
  color: white;
  margin-bottom: 6px;
}


.form-container.login input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.6);
}


.form-container.login .btn.submit {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: white;
  /* color: #0077ff; */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.form-container.login .btn.submit:hover {
  background: #e3f2ff;
}
