.navbar {
  width: 100%;
  background-color: var(--navy-dark);
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(8px);
}


.nav-content {
  max-width: 1300px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 12px 30px;
}


.nav-content ul {
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-left: auto; 
  padding: 0;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  margin: 0 15px;
  transition: 0.3s ease;
  padding: 6px 10px;
  border-radius: 6px;
}
.nav-links a:hover {
  color: var(--purple-light);
}

.logout-btn {
  background: #d22411;
  border: none;
  padding: 9px 20px;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background: #f33b2abb;
}
body {
  padding-top: 70px;
}