.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  /* background: #f3f6fc; */
  font-family: "Poppins", sans-serif;
}

.about-card {
  background: white;
  width: 85%;
  max-width: 650px;
  padding: 35px 45px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
}

.about-title {
  font-size: 2rem;
  font-weight: 700;
  color: #0057c2;
  margin-bottom: 18px;
}

.about-text {
  font-size: 1.08rem;
  color: #444;
  margin-bottom: 10px;
  line-height: 1.7;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
