/* importing the fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1d3b8b, #7b87b8);
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
  /* background: #f3f6fc; */
  font-family: "Poppins", sans-serif;
}

.about-card {
  background: white;
  width: 85%;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 700px;
  text-align: center;
  transition: all 0.3s ease;
}

.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}
.about-title {
  font-size: 2rem;
  font-weight: 600;
  color: #0a53be;
  margin-bottom: 20px;
  position: relative;
}

.about-text {
  font-size: 1.08rem;
  color: #333;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.8;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
