
.task-edit-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  width: 450px;
  margin: 0 auto;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.08);
  font-family: "Poppins", sans-serif;
}

.task-edit-form input,
.task-edit-form select {
  padding: 12px 14px;
  border: 1px solid #dadce0;
  border-radius: 10px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.task-edit-form input:focus,
.task-edit-form select:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 8px rgba(59, 130, 246, 0.3);
}

.task-edit-form button {
  /* background: linear-gradient(90deg, #4a0598, #0775b0); */
  background-color: rgb(2, 2, 159);
  border: none;
  color: rgb(214, 213, 221); 
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600; 
  transition: 0.3s ease;
}


.task-edit-form button:hover {
  transform: translateY(-2px);
  /* opacity: 0.9; */
}

.page-detail h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
  font-weight: 600;
}

.page-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
