body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0C134F, #5C469C);
  min-height: 100vh;
}
.page-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.page-head h1 {
  font-size: 28px;
  font-weight: 700;
}


.page-head button {
  background: #0057b8;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}
.page-head button:hover {
  background: #003f82;
}
.projects-page {
  padding: 10px 20px; 
  display: flex;
  align-items: flex-start;
}
.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  width: 100%;
  max-width: 1200px;
}
.project-row {
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-row:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}


.project-row h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #1D267D;
  margin: 0 0 10px;
}

.project-row p {
  color: #555;
  font-size: 0.95rem;
  margin: 5px 0;
}

.dates {
  display: inline-block;
  margin-top: 8px;
  color: #5C469C;
  font-size: 0.85rem;
  font-weight: 500;
}
.project-row p:last-of-type {
  background: #D4ADFC;
  color: #0C134F;
  font-weight: 600;
  font-size: 0.9rem;
  width: fit-content;
  padding: 6px 14px;
  border-radius: 8px;
  margin-top: 10px;
  margin: 15px auto 0; 
 
}