
.page-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.page-head h1 {
  font-size: 28px;
  font-weight: 700;
}


.page-head button {
  background: #0057b8;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}
.page-head button:hover {
  background: #003f82;
}

.projects-list {
  width: 90%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-row {
  width: 100%;
  padding: 18px;
  background: white;
  border-radius: 8px;
  border-left: 6px solid #0057b8; 
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s;
}

.project-row:hover {
  transform: scale(1.01);
  background: #f7faff;
}


.project-row h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.project-row p {
  font-size: 14px;
  margin-top: 6px;
  color: #444;
}

.dates {
  display: block;
  margin-top: 8px;
  font-size: 13px;
  color: #777;
}
