@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #263b9b, #6477c8);
  color: #333;
}

.home-container {
background: #ffffff;
color: var(--navy-dark);
justify-content: center;
border-radius: 20px;
padding: 50px 60px;
transition: all 0.3s ease;
max-width: 650px;
width: 90%;
margin-top: 120px ;
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
transition: all 0.3s ease;
}

.home-container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}
.home-container h2 {
  font-size: 2rem;  text-decoration: none;
  
  font-weight: 600;
  color: #1f2b6d;
  margin-bottom: 15px;
}

.home-container p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 35px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;

}

.btn.primary {
  background-color: #4361ee;
  color: #fff;
  box-shadow: 0 4px 10px rgba(67, 97, 238, 0.3);
  border: none;
}

.btn.primary:hover {
  background-color: #304ac2;
}

.btn.secondary {
  background:transparent;
  color: #4361ee;
  border: 2px solid #4361ee;
}

.btn.secondary:hover {
  background-color: #4361ee;
  color:#fff
}
